body {
    background-image: url(assets/world.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto 100%;
  }

  .container {
    margin-top: 150px;
    width: 90%;
  }
.list-group-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-all{
  margin-top: 10px;
  margin-left: 18px;
}